.page-bg {
  background: url('../images/login-bg.jpg') !important;
  background-size: 100% 100% !important;
}
#portal-template {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portal-logo {
  margin-bottom: 50px;
}
.submit-btn {
  width: 300px;
  height: 50px;
}
